
/* Fonts */



.font-noto-sans-bold{
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.font-noto-sans-regular{
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.font-dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.font-dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.kep-card-logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}



/*Font Style*/



.digi-kep-card-font-regular{
    font-size: 13px;
}

.digi-kep-card-font-bold{
    font-size: 16px;
    color: #59BDEA !important;
}

.digi-kep-card-sle{
    font-size: 10px;
}

.digi-kep-card-link{
    font-size: 34px;
    color: #59BDEA !important;
    text-decoration: none;
}

.digi-testimonial-author{
    color: #59BDEA;
    font-size: 8px;
}

.digi-berita-title{
    color: #59BDEA;
    font-size: 16px;
}



/* Background */



.digi-gradient-bg{
    background-image: url(../images/bg-hero-section.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.digi-feature-bg{
    background-color: #EDFAFF;
}

.digi-jumbotron-1-bg{
    background-color: #F5FAF6;;
}

.digi-jumbotron-2-bg{
    background-color: #F8ECEA;;
}



/* Button */



.digi-button-yellow-gradient{
    background:linear-gradient(to bottom, #F6DE16, #F05C22);
    background-repeat: no-repeat;
}

.digi-jumbotron-1-button{
    background: linear-gradient(to bottom, #76C461, #30B771);
    background-repeat: no-repeat;
}

.digi-jumbotron-2-button{
    background: linear-gradient(to bottom, #F85034, #A82D18);
    background-repeat: no-repeat;
}



/* Color */


.digi-text-color-blue{
    color: #59BDEA !important;
}

.digi-text-color-green{
    color: #4DA361 !important;
}

.digi-text-color-orange{
    color: #E69F3C !important;
}

.digi-text-color-red{
    color: #CC5642 !important;
}



.digi-bg-color-blue{
    background-color: #59BDEA;
}

.digi-bg-color-green{
    background-color: #4DA361;
}

.digi-bg-color-orange{
    background-color: #E69F3C;
}

.digi-bg-color-red{
    background-color: #CC5642;
}



.digi-ligra-blue{
    background-image: linear-gradient(to bottom , #6CC9DC, #437FC1);
    background-repeat: no-repeat;
}

.digi-ligra-green{
    background-image: linear-gradient(to bottom , #76C461, #30B771);
    background-repeat: no-repeat;
}

.digi-ligra-orange{
    background-image: linear-gradient(to bottom , #F6DE16, #F05C22);
    background-repeat: no-repeat;
}

.digi-ligra-red{
    background-image: linear-gradient(to bottom , #F85034, #A82D18);
    background-repeat: no-repeat;
}